h1 {
  text-align: center;
}

img {
  flex: 70%;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 500px;
  object-fit: cover;
}

ul {
  flex: 30%;
  list-style-type: none;
  border-left: solid black 2px;
  opacity: 0;
  transform: translateX(100%);
}



@keyframes palmares {

  0% {
    transform: translateX(90%);
  }
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(30%);
  }
}


.picture {
  border: 2px solid red;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}




.container {
  margin-top: 30px;
  display: flex;
  gap: 10px;
}
