.pageTitle {
  /* animation: dropsdown 2s forwards; */
  border: solid black 2px;
  border-radius: 10px;
  position: fixed;
  top: 0;
  align-content: center;
  text-align: center; /*center both vertically and horizontally*/
  padding: 10px 0; /*center both vertically and horizontally*/
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
  height: 50px;
}

@keyframes dropsdown {

  0% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0);
  }

}

img {
  flex: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 500px;
  object-fit: cover;
}

ul {
  background-image: url("imgs/nba.png");
  background-position: center;
  background-size: cover;
  object-fit: cover;
  border-radius: 10px;
  flex: 50%;
  height: 100%;
  line-height: 1.6;
  list-style-type: none;
  margin-top: 20%;
  overflow: hidden;
  text-align: center;
  border-left: solid black 2px;
  opacity: 0;
  transform: translateX(100%);
}

.picture {
  border: 2px solid red;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}




.container {
  margin-top: 10%;
  display: flex;
  gap: 10px;
}
